:root {
    --yellow: #D2C832;
    --orange: #C17F2E;
    --tan: #C1AD95;
}

* {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.15rem;
    margin: 0;
    padding: 0;
    background-color: var(--tan);
}

header {  
    padding: 50px 0;
    /* background-color: var(--yellow); */
    text-align: center;
}

h1 {
    font-size: 2rem;
}

.subtitle p {
    height: 70px;
    margin: 77px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    padding: 25px;
}

pre#code {
    width: 300px;
    margin: auto;
    border: 3px solid var(--orange);
    font-family: monospace;
    padding: 20px;
}
